@import 'tailwindcss';

@theme {
  --font-montserrat: 'Montserrat', 'sans-serif';
  --font-lobster-two: 'Lobster Two', 'sans-serif';
  --color-primary: #ff5b00;
  --color-secondary: #d91f1f;
}

body {
  @apply font-montserrat;
}

.brand-name {
  font-family: 'Lobster Two';
  background: linear-gradient(to bottom, #f4d61b 0%, #f47217 55%, #da0d0f 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
