@import 'tailwindcss';

@theme {
  --font-montserrat: 'Montserrat', 'sans-serif';
  --font-lobster-two: 'Lobster Two', 'sans-serif';
  --color-primary: #ff5b00;
  --color-secondary: #d91f1f;
}

body {
  @apply font-montserrat;
}
